body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
}
.view {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 80vh;
}

* {
  margin: 0;
}
.card {
  background-color: #fff;
  width: 375px;
  border-radius: 15px;
  border: solid;
  border-width: 2px;
  box-shadow: 5px 5px 0px rgba(00, 00, 00, 1);
  overflow: hidden;
  height: fit-content;
  scale: 125%;
}

.image-box {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  /* background-color: red; */
  width: 335px;
  height: min-content;
  margin-top: 20px;
  margin-left: 20px;
}

.image-box .display {
  width: 100%;
}

p {
  @font-face {
    font-family: figtree;
    src:;
  }
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.tag {
  background-color: hsl(47, 88%, 63%);
  padding: 5px 10px;
  width: fit-content;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 3px;
  font-weight: 600;
}

.date {
  margin-left: 20px;
  color: hsl(0, 0%, 42%);
  margin-top: 10px;
  margin-left: 20px;
}

.title {
  margin-left: 20px;
  margin-top: 15px;
}

.description {
  margin-top: 20px;
  margin-left: 20px;
  color: hsl(0, 0%, 42%);
}

.author {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar-box {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.avatar-box .avatar {
  width: 100%;
}

.author .owner {
  margin-left: 10px;
  font-weight: 600;
  font-size: 12px;
}
